/* style.css */

/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #aaabb8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color:#464866;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

nav .dropdown {
    position: relative;
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}
button {
    background-color: #2e9cca;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #e64a19;
}

/* Main Section Styles */
.hero {
    background-image: linear-gradient(to bottom, #464866, #5e5f7a, #76788e, #9091a3, #aaabb8);
    border: none;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}
.hero button{
    margin-top: 10px;
}
.features {
    padding: 50px 20px;
    text-align: center;
}

.features ul {
    list-style-type: none;
}

.features li {
    margin: 10px 0;
}

/* Footer Styles */
footer {
    background-color: #aaabb8;
    color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    display: inline-block;
    margin: 0 5px;
    color: #f4f4f4;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
