<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Template 1</title>
    <link rel="stylesheet" href="../templates/temp_css/temp1.css">
    <link rel="stylesheet" href="../css/all.min.css">
</head>
<body>

    <div class="print-area">
        <div class="header">
            <img src="../assets/Geneses.jpg" alt="Geneses">
            <div class="header-text">
                <h1>John Geneses Herrera</h1>
                <p>Frontend Developer</p>
            </div>
        </div>

        <div class="content">
            <div class="left-area">
                <div class="contact">
                    <h4>CONTACT</h4>
                    <h5>Phone</h5>
                    <p>+971 55 463 2668</p>
                    <h5>Email</h5>
                    <p>hjohngeneses@gmail.com</p>
                    <h5>Home</h5>
                    <p>University City Road, Muweillah Sharjah, UAE</p>
                </div>

                <div class="skills">
                    <h1>SKILLS</h1>
                    <div class="bars">
                        <div class="bar">
                            <p>HTML/CSS</p>
                            <span></span>
                        </div>
                        <div class="bar">
                            <p>JavaScript</p>
                            <span></span>
                        </div>
                        <div class="bar">
                            <p>PHP/SQL</p>
                            <span></span>
                        </div>
                        <div class="bar">
                            <p>JQuery</p>
                            <span></span>
                        </div>
                        <div class="bar">
                            <p>Git/Version Control</p>
                            <span></span>
                        </div>
                        <div class="bar">
                            <p>RESTful Services/APIs</p>
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="follow">
                    <h1>FOLLOW ME</h1>
                    <h4>Facebook</h4>
                    <p>facebook.com/username</p>
                    <h4>Instagram</h4>
                    <p>instgram.com/username</p>
                    <h4>Twitter</h4>
                    <p>twitter.com/username</p>
                    <h4>Youtube</h4>
                    <p>youtube.com/username</p>
                </div>
            </div>
            <div class="right-area">
                <h1>Right</h1>
            </div>
        </div>
    </div>


    
    <script src="../src/all.min.js"></script>
</body>
</html>